* {
  box-sizing: border-box;
}
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 100vh;
  z-index: 9999;
}

html,
body {
  margin: 0;
  padding: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  background: #edf1f2 !important;
}
p {
  margin: 0;
  padding: 0;
}
select {
  background-color: #fff !important;
}


/* 头部tab */
header {
}
header .tab_header {
  background: #0070e2;
  height: 56px;
  background: #1d2b36;
  padding: 0 20px;
  text-align: center;
  position: relative;
}
header .tab_header .header_logo {
  width: 130px;
  height: 56px;
}
header .tab_header .header_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header .tab_header .header_logo span {
  color: #999;
  /* color: #fff; */
  font-size: 12px;
  position: absolute;
  left: 100%;
  top: 14px;
  width: 50px;
}

header .tab_header .header_logo_box{
  display: inline-block;
  position: absolute;
  left: 20px;
  height: 56px;
}

header .tab_header .header_logo_box .header_text {
  font-size: 14px;
  color: #999;
  position: absolute;
  left: 100%;
  top: 14px;
  width: 80px;
}

header .tab_header #selectObjectType{
  display: inline-block;
  width: 100px;
  margin-left: 20px;
  margin-top: 9px;
  border: none;
  background-color: #0d1419 !important;
  color: #fff;
}


.header .tab_header .header_tab_box {
  display: inline-block;
}
header .tab_header .header_tab_box a {
  display: inline-block;
  color: #a2aeb8;
  height: 56px;
  min-width: 68px;
  line-height: 56px;
  cursor: pointer;
  position: relative;
}
header .tab_header .header_tab_box a.selected {
  color: #fff;
}
header .tab_header .header_tab_box a:not(:last-child) {
  margin-right: 56px;
}

header .tab_header .header_tab_box a.selected::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #4dbd73;
}


.jump_orderDetail_btn{
  color: #4dbd73;
}