body {
  min-width: 1200px;
  max-width: 1920px;
  margin: 0 auto;
}
.log_search{
  padding:10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.log_search .search_list{
  display: inline-block;
  width: 300px;
  vertical-align: bottom;
  margin: 10px;
}
.log_search .search_list .search_title{
  display: inline-block;
  line-height: 38px;
  margin-right: 10px;
  min-width: 42px;
  text-align: right;
}
.log_search .search_list input,
.log_search .search_list select{
  display: inline-block;
  width: 80%;
}

.logList{
  margin: 10px;
  overflow-y: auto;
  height: 700px;
  background-color: #fff;
  display: none;
}
.logList .table_thead {

}
.logList .table_tbody {
 
}